In [1]:
import pandas as pd

In [1]:
data = pd.read_csv('data/housing.csv')

In [2]:
data

           year      price
0      0.081091  23.790515
1      9.483270  10.784598
2      9.901805  10.003782
3      1.930438  21.879849
4      1.618601  21.851806
...         ...        ...
1350  12.580032  10.122039
1351  12.488949   9.934954
1352  10.693618  12.083653
1353  12.455530  10.304081
1354   9.509651  10.505743

[1355 rows x 2 columns]