In [160]:
import numpy as np
import pandas as pd

In [161]:
wine = pd.read_csv('C:/Users/d3en/OneDrive/Рабочий стол/dataScience\IDE\skillfactory\EDA-2. Математическая статистика в контексте EDA\wine_cleared.csv', index_col= 0)
wine.head()

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,Alexander Peartree,unknown,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Новые признаки можно сконструировать из уже существующего набора данных несколькими способами: 

разбор категорий; 

разбор даты и времени;

разбор числовых признаков;

разбор текста.

### <center> РАЗБОР ЧИСЛОВЫХ ВЕЛИЧИН

In [162]:
#  Создадим новый признак price_round, означающий округлённую до целого числа цену за бутылку вина:

# для удобства сразу преобразуем признак в int

wine['price_round'] = wine['price'].round().astype(int)

Однако такое преобразование неуместно в ситуациях, когда сотые важны. Например, при предсказании курса лиры стоимость валюты в 6.12 руб. и в 6.84 руб. — абсолютно разные ситуации.

Для того, чтобы извлечь из строки число, обозначающее год, необходимо воспользоваться регулярными выражениями.

Регулярные выражения (regexp, или regex) — это механизм для поиска и замены текста. Это шаблоны, которые используются для поиска соответствующей части текста.

Реализация такого механизма существует в pandas в работе со строками. Для того чтобы найти все числа в каждом значении серии, воспользуемся методом [str.findall()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.findall.html). Метод возвращает все совпадения с заданным шаблоном в серии pandas.

Разберём регулярное выражение \d+:

\d — класс символов, обозначает соответствие цифрам в диапазоне цифр [0-9];
{4} в шаблоне означает искать четыре вхождения символа, указанного ранее. В нашем случае это будут четырехзначные числа.
Таким образом, \d{4} означает четырехзначных чисел в заданной строке.

In [163]:
regex = '\d{4}' # регулярное выражение для нахождения чисел 
wine['year'] = wine['title'].str.findall(regex).str.get(0)
# Однако при поиске числа методом data['title'].str.findall(regex) результатом выполнения является список найденных цифр. 
# Поэтому необходимо извлечь первый элемент из списка найденных методом str.get(0), где 0 — первый элемент в списке найденных чисел.

Проверить, насколько точно работает ваше регулярное выражение, а также найти реализацию популярных регулярных выражений (например, поиска номера телефона), вы сможете на сайте [https://ihateregex.io](https://ihateregex.io).

### <center> РАЗБОР КАТЕГОРИЙ

In [164]:
# Вы можете создать новый бинарный признак is_usa и присвоить ему 1 в случае, если вино произведено в США, иначе — 0.

wine['is_usa'] = wine['country'].apply(lambda x: 1 if x == 'US' else 0)

In [165]:
wine['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [166]:
wine['is_france'] = wine['country'].apply(lambda x: 1 if x == 'France'  else 0)
wine['is_italy'] = wine['country'].apply(lambda x: 1 if x == 'Italy'  else 0)

In [167]:
display(wine['is_france'].sum())
display(wine['is_italy'].sum())

22093

19540

In [168]:
wine['year'] = pd.to_datetime(wine['year'],errors='coerce') # Для поиска по году, преобразуеми в datatime.

In [169]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            129971 non-null  object
 3   points                 129971 non-null  int64
 4   price                  129971 non-null  float64
 5   province               129908 non-null  object
 6   region_1               129971 non-null  object
 7   taster_name            129971 non-null  object
 8   taster_twitter_handle  129971 non-null  object
 9   title                  129971 non-null  object
 10  variety                129970 non-null  object
 11  winery                 129971 non-null  object
 12  price_round            129971 non-null  int32
 13  year                   125331 non-null  datetime64[ns]
 14  is_usa                 129971 non-null  int64
 15  is_france              129971 non-null  int64
 16  is_italy               129971 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(4), object(10)
memory usage: 17.4+ MB

In [170]:
wine['old_wine'] = wine['year'].apply(lambda x: 1 if x.year < 2010 else 0)

In [171]:
wine['old_wine'].sum()

39765

In [172]:
regular = '\((.*?)\)' # Решулярное выражение для символов в скобках

In [173]:
wine['locality'] = wine['title'].str.findall(regular).str.get(0) #.replace(r'[()]','') # Заполняем значения в новом столбце, выделенными значения в скобках и 'title'
wine['locality'].value_counts()

Napa Valley                          4478
Columbia Valley (WA                  4124
Russian River Valley                 3091
California                           2629
Paso Robles                          2350
                                     ...
Finca Élez                              1
Valpolicella Valpantena Superiore       1
Moscato di Pantelleria                  1
Paardeberg                              1
Paestum                                 1
Name: locality, Length: 1562, dtype: int64