In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
hh_data = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')

In [6]:
hh_data.head(1)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль

In [7]:
fig = px.histogram(hh_data,
                   x= 'ЗП'
                  )
fig.update_layout(
    title_text='Гистограмма распределение признака «Возраст»',
    yaxis_title_text='Соискатели', 
    bargap=0.05, 
    bargroupgap=0.1 
)
fig.write_image("plotly/summ.png")
#fig.show()
fig  = px.box(data_frame = hh_data ,
             x='ЗП',
             title = 'Коробчатая диаграмма распределение признака возраст.',
             width= 1000
             )
fig.write_image("plotly/summ1.png")
#fig.show()

![title](plotly/summ.png)
![title](plotly/summ1.png)