In [1]:
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sn
import plotly_express as px

In [2]:
data = pd.DataFrame({'a': ['as', 'asd', 'asdf', 'asdfg'], 'b': [2, 4, 5, 6], 'c': [3, 6, 8, 10]})
data

       a  b   c
0     as  2   3
1    asd  4   6
2   asdf  5   8
3  asdfg  6  10