In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
# solar = pd.read_csv('solarpower.csv', sep=',') 

# for i, row in enumerate(solar['cum_power']):
#     if row < 0:
#         print(solar.loc[i, row]) #= (solar.loc[i+1, 'cum_power'] + solar.loc[i-1, 'cum_power'])/2  
# #         print('Nice')
# # #         solar.iloc[i]['cum_power'] = solar.iloc[i]['cum_power'] is  444 # = 500 #.ap(solar.iloc[i]['cum_power'] + solar.iloc[i+1]['cum_power'])/2
# #     # if solar.iloc[i]== -1:
# #     #     print(solar['cum_power'])#(solar[i][row])# = (solar.iloc[i-1]['cum_power'] + solar.iloc[i+1]['cum_power'])/2
# #         # print(solar.iloc[i-1]['cum_power'])
        
# #     # print(i, row['cum_power'])
# #     # if row['cum_power'] == -1:
# #     #     solar.iloc[i, 'cum_power']  =  (solar.iloc[i-1, 'cum_power'] + solar.iloc[i+1, 'cum_power'])/2
# # # print(solar.loc[i, 'cum_power'])
# solar.iloc[44:47]

In [7]:
solar = pd.read_csv('solarpower.csv', sep=',')

In [8]:
# Задание из аттесатции. Нужно значения, где -1(меньше 0), заменить средним значением соседних ячеек.
mask = solar['cum_power']<0
list_minus = solar.index[mask].tolist()# создаем список индессов по условию
for i in list_minus: #цикл по индексам
        solar.loc[i, 'cum_power'] = (solar.loc[i-1, 'cum_power'] + solar.loc[i+1, 'cum_power'])/2 # Заменяем значение в ячейке нп среднее.
print(i)
    
        # print('Nice')
solar.iloc[44:47]

647

          date  cum_power
44  2017-02-14    20248.0
45  2017-02-15    20255.0
46  2017-02-16    20262.0

In [9]:
solar['cum_power'].sum()/solar.shape[0] # среднее арифметическое столбца

23848.246987951807

In [ ]:
solar#.iloc[44:47]

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [ ]:
for i,row in solar.iterrows():
    if row['cum_power'] == -1:
        solar.iloc[i]['cum_power']  =  ((solar.iloc[i-1], ['cum_power']) + (solar.iloc[i+1], ['cum_power']))/2

In [ ]:
mask = solar['cum_power'] == -1
mask[44:47]

44    False
45    False
46    False
Name: cum_power, dtype: bool

In [ ]:

mask = solar['cum_power']<0
list_minus = solar.index[mask].tolist()
for i in list_minus:
    if i in solar.index:
        solar['cum_power'] = 24444441 #((solar.iloc[i-1], ['cum_power']) + (solar.iloc[i+1], ['cum_power']))/2
    
        # print('Nice')
solar.iloc[44:47]

          date  cum_power
44  2017-02-14    20248.0
45  2017-02-15    20255.0
46  2017-02-16    20262.0