In [9]:
import pandas as pd 
import numbers as np
hh_data = pd.read_csv('C:/Users/d3en/OneDrive/Рабочий стол/dataScience/IDE/skillfactory/EDA-2. Математическая статистика в контексте EDA/model.csv')
hh_data.head()

,Month,Year,Waist,Hips,Height,Weight,BMI,Waist/Hip
0,December,1953,24.000000,36.000000,65.000000,118.000000,19.630000,0.670000
1,January,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
2,February,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916
3,March,1954,24.000000,35.000000,66.000000,118.000000,19.040000,0.690000
4,April,1954,23.433172,34.698708,66.057258,114.936066,18.232168,0.677916

![alt](./image/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%20(9).png)

![alt](https://lms.skillfactory.ru/assets/courseware/v1/b9f53df630dc3d3181ed5426b77dcc20/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/dst-eda-2-17.png)