In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('new-site.csv', sep = '\t')
data

     site  dwell-time
0       0           2
1       1          48
2       0          15
3       1          16
4       0          38
..    ...         ...
295     0          22
296     0           7
297     1         144
298     0          89
299     0         138

[300 rows x 2 columns]

In [7]:
data['dwell-time'].sum()

26930

In [3]:
mask0 = data[data['site'] == 0]
mask1 = data[data['site'] == 1]

In [4]:
mask0['dwell-time'].sum()

16898

In [14]:
data[data['site']==0]['dwell-time'].sum()

16898