In [1]:
import numpy as np 
import pandas as pd 
import requests
from pprint import pprint # Импортируем функцию pprint()

from geopy.geocoders import Nominatim
nominaltim = Nominatim(user_agent='d3enjan')

[Cсылка на дата сет на всякий случай](https://disk.yandex.ru/d/TEXJ7_FiGXlS6w)

In [2]:
# Подгрузим наши данные из соревнования

DATA_DIR = 'C:/Users/d3en/OneDrive/Рабочий стол/dataScience/IDE/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/data_3/kaggle'
df_train = pd.read_csv(DATA_DIR+'/hotels_train.csv') # датасет для обучения
df_test = pd.read_csv(DATA_DIR+'/hotels_test.csv') # датасет для предсказания
sample_submission = pd.read_csv(DATA_DIR+'/submission.csv') # самбмишн

In [3]:
hotels = df_test.append(df_train, sort=False).reset_index(drop=True)
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         512470 non-null  float64
 15  lng                                         512470 non-null  float64
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [4]:
location_fr = nominaltim.geocode('France').raw
location_au = nominaltim.geocode('Austria').raw
location_It = nominaltim.geocode('Italy').raw
location_Am = nominaltim.geocode('Amsterdam').raw
location_Sp = nominaltim.geocode('Spain').raw
location_ld = nominaltim.geocode('London').raw

pprint(location_fr) # Это выдает запрос
pprint(location_fr['lat']) #Широта
pprint(location_fr['lon']) #Долгота

{'boundingbox': ['-50.2187169', '51.3055721', '-178.3873749', '172.3057152'],
 'class': 'boundary',
 'display_name': 'France',
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png',
 'importance': 1.0233264437396503,
 'lat': '46.603354',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. '
            'https://osm.org/copyright',
 'lon': '1.8883335',
 'osm_id': 2202162,
 'osm_type': 'relation',
 'place_id': 298141959,
 'type': 'administrative'}
'46.603354'
'1.8883335'

In [4]:
lat = hotels[hotels['lat'].isnull()]
hotels.dropna(subset=['lat'], inplace=True)

In [5]:
lat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3268 entries, 35 to 515699
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   hotel_address                               3268 non-null   object
 1   additional_number_of_scoring                3268 non-null   int64
 2   review_date                                 3268 non-null   object
 3   average_score                               3268 non-null   float64
 4   hotel_name                                  3268 non-null   object
 5   reviewer_nationality                        3268 non-null   object
 6   negative_review                             3268 non-null   object
 7   review_total_negative_word_counts           3268 non-null   int64
 8   total_number_of_reviews                     3268 non-null   int64
 9   positive_review                             3268 non-null   object
 10  review_total_positive_word_counts           3268 non-null   int64
 11  total_number_of_reviews_reviewer_has_given  3268 non-null   int64
 12  tags                                        3268 non-null   object
 13  days_since_review                           3268 non-null   object
 14  lat                                         0 non-null      float64
 15  lng                                         0 non-null      float64
 16  reviewer_score                              2448 non-null   float64
dtypes: float64(4), int64(5), object(8)
memory usage: 459.6+ KB

In [5]:
nominaltim.geocode('Via Senigallia 6 20161 Milan Italy')[1][0]

45.5331778

In [13]:
def full_app(coord) -> str:
    lat = nominaltim.geocode(coord)[1][0]
    return lat

In [14]:
full_app('moskow russia')

55.7504461

In [5]:
# Функции заменяю значения в ячейках по условию

def lat_def(l_at):    
    l_at = l_at.split(' ')
    if 'France' in l_at:     
        return location_fr['lat']
    if  'Austria' in l_at:
        return location_au['lat']
    if 'Italy' in l_at:
        return location_It['lat']
    if 'Amsterdam' in l_at:
        return location_Am['lat']
    if 'Spain' in l_at:
        return location_Sp['lat']
    if 'London' in l_at:
        return location_ld['lat']

def lng_def(l_ng):  
    l_ng = l_ng.split(' ')
    if 'France' in l_ng:        
        return location_fr['lon']
    if  'Austria' in l_ng:
        return location_au['lon']
    if 'Italy' in l_ng:
        return location_It['lon']
    if 'Amsterdam' in l_ng:
        return location_Am['lon']
    if 'Spain' in l_ng:
        return location_Sp['lon']
    if 'London' in l_ng:
        return location_ld['lon']

In [6]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         512470 non-null  float64
 15  lng                                         512470 non-null  float64
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [19]:
lat['lat'] = lat[['hotel_address', 'lat']].apply(lambda x: lat_def(x[0]) if x[1] is not np.NaN else x[1], 1)

C:\Users\d3en\AppData\Local\Temp\ipykernel_12904\2058553537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lat['lat'] = lat[['hotel_address', 'lat']].apply(lambda x: lat_def(x[0]) if x[1] is not np.NaN else x[1], 1)

In [20]:
lat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3268 entries, 35 to 515699
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   hotel_address                               3268 non-null   object
 1   additional_number_of_scoring                3268 non-null   int64
 2   review_date                                 3268 non-null   object
 3   average_score                               3268 non-null   float64
 4   hotel_name                                  3268 non-null   object
 5   reviewer_nationality                        3268 non-null   object
 6   negative_review                             3268 non-null   object
 7   review_total_negative_word_counts           3268 non-null   int64
 8   total_number_of_reviews                     3268 non-null   int64
 9   positive_review                             3268 non-null   object
 10  review_total_positive_word_counts           3268 non-null   int64
 11  total_number_of_reviews_reviewer_has_given  3268 non-null   int64
 12  tags                                        3268 non-null   object
 13  days_since_review                           3268 non-null   object
 14  lat                                         3268 non-null   object
 15  lng                                         0 non-null      float64
 16  reviewer_score                              2448 non-null   float64
dtypes: float64(3), int64(5), object(9)
memory usage: 459.6+ KB

In [7]:
from tarfile import NUL


hotels['lat'] = hotels[['hotel_address', 'lat']].apply(lambda x: lat_def((x[0])) if x[1] is not np.NaN else x[1], 1)

In [10]:
hotels['lng'] = hotels[['hotel_address', 'lng']].apply(lambda x: lng_def((x[0])) if x[1] is not np.NaN else x[1], 1)

In [8]:
hotels['lat'].isnull().value_counts()

False    515738
Name: lat, dtype: int64

In [11]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         515738 non-null  object
 15  lng                                         515738 non-null  object
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(2), int64(5), object(10)
memory usage: 66.9+ MB

In [46]:
hotels[hotels['lat'].notnull()]

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,tags,days_since_review,lat,lng,reviewer_score
0,Via Senigallia 6 20161 Milan Italy,904,7/21/2017,8.1,Hotel Da Vinci,United Kingdom,Would have appreciated a shop in the hotel th...,52,16670,Hotel was great clean friendly staff free bre...,62,1,"[' Leisure trip ', ' Couple ', ' Double Room '...",13 days,45.533137,9.171102,NaN
1,Arlandaweg 10 Westpoort 1043 EW Amsterdam Neth...,612,12/12/2016,8.6,Urban Lodge Hotel,Belgium,No tissue paper box was present at the room,10,5018,No Positive,0,7,"[' Leisure trip ', ' Group ', ' Triple Room ',...",234 day,52.385649,4.834443,NaN
2,Mallorca 251 Eixample 08008 Barcelona Spain,46,11/26/2015,8.3,Alexandra Barcelona A DoubleTree by Hilton,Sweden,Pillows,3,351,Nice welcoming and service,5,15,"[' Business trip ', ' Solo traveler ', ' Twin ...",616 day,41.393192,2.161520,NaN
3,Piazza Della Repubblica 17 Central Station 201...,241,10/17/2015,9.1,Hotel Principe Di Savoia,United States of America,No Negative,0,1543,Everything including the nice upgrade The Hot...,27,9,"[' Leisure trip ', ' Couple ', ' Ambassador Ju...",656 day,45.479888,9.196298,NaN
4,Singel 303 309 Amsterdam City Center 1012 WJ A...,834,5/16/2016,9.1,Hotel Esther a,United Kingdom,No Negative,0,4687,Lovely hotel v welcoming staff,7,2,"[' Business trip ', ' Solo traveler ', ' Class...",444 day,52.370545,4.888644,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,9 Knaresborough Place Kensington and Chelsea L...,107,4/19/2017,9.0,Hotel Moonlight,France,No Negative,0,617,Tr s proche du metro Earl s court,10,10,"[' Leisure trip ', ' Group ', ' Club Double or...",106 day,51.494028,-0.191050,8.8
515734,Landstra er Hauptstra e 155 03 Landstra e 1030...,272,2/13/2017,8.4,BEST WESTERN PLUS Amedia Wien,Turkey,No Negative,0,3224,The bed was so comfy I stayed with my boyfrie...,93,1,"[' Leisure trip ', ' Couple ', ' Standard Doub...",171 day,48.192379,16.399451,9.2
515735,29 31 Gower Street Camden London WC1E 6HG Unit...,457,2/7/2016,6.8,Bloomsbury Palace Hotel,Netherlands,room is really small but guess is normal in L...,12,2751,great location simple check in out nice shower,9,21,"[' Business trip ', ' Solo traveler ', ' Singl...",543 day,51.520795,-0.131084,8.3
515736,31 Great Cumberland Place Westminster Borough ...,365,5/21/2017,8.1,The Marble Arch London,United Arab Emirates,No Negative,0,1567,Location and very comfy bed,6,28,"[' Leisure trip ', ' Solo traveler ', ' Deluxe...",74 days,51.515125,-0.160066,9.2
515737,25 Courtfield Gardens Kensington and Chelsea L...,222,8/5/2016,9.0,The Nadler Kensington,Australia,Patio outside could have been cleaned of alga...,20,1209,Beds comfortable Pillows also good Homely fee...,20,2,"[' Leisure trip ', ' Couple ', ' Bunk Bed Room...",363 day,51.493109,-0.190208,8.8

In [26]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         512470 non-null  float64
 15  lng                                         512470 non-null  float64
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [9]:
hotels['lat'].isnull().value_counts()

False    512470
True       3268
Name: lat, dtype: int64

In [24]:
lat['lat'] = lat[['hotel_address', 'lat']].apply(lambda x: x[1] if x[1] else lat_def(x[0]), 1)

C:\Users\d3en\AppData\Local\Temp\ipykernel_4192\2418413579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lat['lat'] = lat[['hotel_address', 'lat']].apply(lambda x: x[1] if x[1] else lat_def(x[0]), 1)

In [25]:
lat['lat']

35       NaN
293      NaN
476      NaN
526      NaN
569      NaN
          ..
515027   NaN
515400   NaN
515439   NaN
515637   NaN
515699   NaN
Name: lat, Length: 3268, dtype: float64

In [ ]:
# Тут он заменяет значения в стобце lat и lng согласно функции, 
# тем самым меняет все значения. А хотелсоь бы поменять 3268 пустых значений, не трогая те которые есть
# Пропуски в обоих столбцах одинаковые
# Нужно поменять только страны Austria, France 
hotels['lat'] = hotels['hotel_address'].apply(lat_def)
hotels['lng'] = hotels['hotel_address'].apply(lng_def)

# И еще вопрос

# Как сделать так, чтобы он подставлял в ячейку сразу результат кода nominaltim.geocode('France').raw,
 
# где 'France', после split(' ') это то, что хранится в hotels['hotel_address'] = (Via Senigallia 6 20161 Milan Italy)- например, то есть и это значение ставил автоматически.

# Тогда там можно будет искать координаты по названию отеля, это более точно