In [1]:
import numpy as np 
import pandas as pd 
import requests
from pprint import pprint # Импортируем функцию pprint()

from geopy.geocoders import Nominatim
from pprint import pprint
nominaltim = Nominatim(user_agent='d3enjan')

In [2]:
# Подгрузим наши данные из соревнования

DATA_DIR = 'C:/Users/d3en/OneDrive/Рабочий стол/dataScience/IDE/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/data_3/kaggle'
df_train = pd.read_csv(DATA_DIR+'/hotels_train.csv') # датасет для обучения
df_test = pd.read_csv(DATA_DIR+'/hotels_test.csv') # датасет для предсказания
sample_submission = pd.read_csv(DATA_DIR+'/submission.csv') # самбмишн

In [3]:
hotels = df_test.append(df_train) #, sort=False).reset_index(drop=True)
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515738 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         512470 non-null  float64
 15  lng                                         512470 non-null  float64
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 70.8+ MB

In [6]:
url = 'https://www.booking.com/hotel/gb/britannia-londoninternational.ru.html#important_info'
response = requests.get(url)

In [4]:
from heapq import nlargest


lat = hotels[hotels['lat'].isnull()]
no_lat = lat['hotel_address'].value_counts().nlargest()

lng = hotels[hotels['lng'].isnull()]
no_lng = lng['hotel_address'].value_counts().nlargest()

In [8]:
lat['hotel_address']

35        W hringer Stra e 33 35 09 Alsergrund 1090 Vien...
293       W hringer Stra e 33 35 09 Alsergrund 1090 Vien...
476       Gr nentorgasse 30 09 Alsergrund 1090 Vienna Au...
526            23 Rue Damr mont 18th arr 75018 Paris France
569       Josefst dter Stra e 10 12 08 Josefstadt 1080 V...
                                ...
386092    Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Au...
386465    Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Au...
386504     4 rue de la P pini re 8th arr 75008 Paris France
386702    Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Au...
386764    W hringer Stra e 33 35 09 Alsergrund 1090 Vien...
Name: hotel_address, Length: 3268, dtype: object

In [5]:
hotels.dropna(subset=['lng'], inplace=True)

In [6]:
nominaltim = Nominatim(user_agent='d3enjan')
location_fr = nominaltim.geocode('France').raw
location_au = nominaltim.geocode('Austria').raw
location_It = nominaltim.geocode('Italy').raw
location_Am = nominaltim.geocode('Amsterdam').raw
location_Sp = nominaltim.geocode('Spain').raw
location_ld = nominaltim.geocode('London').raw

pprint(location_fr['lat'])
pprint(location_fr['lon'])

'46.603354'
'1.8883335'

In [7]:
def lat_def(l_at):    
    l_at = l_at.split(' ')
    if 'France' in l_at:     
        return location_fr['lat']
    if  'Austria' in l_at:
        return location_au['lat']
    if 'Italy' in l_at:
        return location_It['lat']
    if 'Amsterdam' in l_at:
        return location_Am['lat']
    if 'Spain' in l_at:
        return location_Sp['lat']
    if 'London' in l_at:
        return location_ld['lat']

def lng_def(l_ng):  
    l_ng = l_ng.split(' ')
    if 'France' in l_ng:        
        return location_fr['lon']
    if  'Austria' in l_ng:
        return location_au['lon']
    if 'Italy' in l_ng:
        return location_It['lon']
    if 'Amsterdam' in l_ng:
        return location_Am['lon']
    if 'Spain' in l_ng:
        return location_Sp['lon']
    if 'London' in l_ng:
        return location_ld['lon']

In [8]:
lat['lat'] = lat['hotel_address'].apply(lat_def)
lat['lng'] = lat['hotel_address'].apply(lng_def)

C:\Users\d3en\AppData\Local\Temp\ipykernel_13888\362355283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lat['lat'] = lat['hotel_address'].apply(lat_def)
C:\Users\d3en\AppData\Local\Temp\ipykernel_13888\362355283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lat['lng'] = lat['hotel_address'].apply(lng_def)

In [11]:
hotels = hotels.append(lat)
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515738 entries, 0 to 386764
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         515738 non-null  object
 15  lng                                         515738 non-null  object
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(2), int64(5), object(10)
memory usage: 70.8+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3268 entries, 35 to 386764
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   hotel_address                               3268 non-null   object
 1   additional_number_of_scoring                3268 non-null   int64
 2   review_date                                 3268 non-null   object
 3   average_score                               3268 non-null   float64
 4   hotel_name                                  3268 non-null   object
 5   reviewer_nationality                        3268 non-null   object
 6   negative_review                             3268 non-null   object
 7   review_total_negative_word_counts           3268 non-null   int64
 8   total_number_of_reviews                     3268 non-null   int64
 9   positive_review                             3268 non-null   object
 10  review_total_positive_word_counts           3268 non-null   int64
 11  total_number_of_reviews_reviewer_has_given  3268 non-null   int64
 12  tags                                        3268 non-null   object
 13  days_since_review                           3268 non-null   object
 14  lat                                         0 non-null      float64
 15  lng                                         0 non-null      float64
 16  reviewer_score                              2448 non-null   float64
dtypes: float64(4), int64(5), object(8)
memory usage: 459.6+ KB

In [9]:
display(no_lat.sum())
display(no_lng)

2145

Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria    658
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria            563
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria       389
4 rue de la P pini re 8th arr 75008 Paris France               290
Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria         245
Name: hotel_address, dtype: int64

In [13]:
nominaltim = Nominatim(user_agent='d3enjan')

location_fr = nominaltim.geocode('France').raw

'46.603354'
'1.8883335'

In [6]:
hotels['lat'].isnull().value_counts()

False    512470
True       3268
Name: lat, dtype: int64

In [ ]:
# Заполнить последнее значение, провреить модель