In [1]:
import numpy as np 
import pandas as pd 
import requests
from pprint import pprint # Импортируем функцию pprint()

from geopy.geocoders import Nominatim
from pprint import pprint

In [2]:
# Подгрузим наши данные из соревнования

DATA_DIR = 'C:/Users/d3en/OneDrive/Рабочий стол/dataScience/IDE/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/data_3/kaggle'
df_train = pd.read_csv(DATA_DIR+'/hotels_train.csv') # датасет для обучения
df_test = pd.read_csv(DATA_DIR+'/hotels_test.csv') # датасет для предсказания
sample_submission = pd.read_csv(DATA_DIR+'/submission.csv') # самбмишн

In [3]:
hotels = df_test.append(df_train) #, sort=False).reset_index(drop=True)

In [4]:
h_list = hotels['hotel_name'].value_counts().nlargest(10).index

In [5]:
h_list

Index(['Britannia International Hotel Canary Wharf', 'Strand Palace Hotel',
       'Park Plaza Westminster Bridge London',
       'Copthorne Tara Hotel London Kensington',
       'DoubleTree by Hilton Hotel London Tower of London',
       'Grand Royale London Hyde Park', 'Holiday Inn London Kensington',
       'Hilton London Metropole', 'Millennium Gloucester Hotel London',
       'Intercontinental London The O2'],
      dtype='object')

In [6]:
url = 'https://www.booking.com/hotel/gb/britannia-londoninternational.ru.html#important_info'
response = requests.get(url)

In [7]:
nominaltim = Nominatim(user_agent='d3enjan')

location = nominaltim.geocode('Strand Palace Hotel').raw

pprint(location['lat'])
pprint(location['lon'])

'51.511076200000005'
'-0.12093289913050309'

In [8]:
location['lat']

'51.511076200000005'

In [9]:
hotels['lat'] = hotels['lat'].apply(lambda x:location['lat'] if hotels['hotel_name'] is 'Strand Palace Hotel' else x)

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\d3en\AppData\Local\Temp\ipykernel_11724\326470778.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  hotels['lat'] = hotels['lat'].apply(lambda x:location['lat'] if hotels['hotel_name'] is 'Strand Palace Hotel' else x)

In [7]:
hotels.tail()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,tags,days_since_review,lat,lng,reviewer_score
386798,9 Knaresborough Place Kensington and Chelsea L...,107,4/19/2017,9.0,Hotel Moonlight,France,No Negative,0,617,Tr s proche du metro Earl s court,10,10,"[' Leisure trip ', ' Group ', ' Club Double or...",106 day,51.494028,-0.191050,8.8
386799,Landstra er Hauptstra e 155 03 Landstra e 1030...,272,2/13/2017,8.4,BEST WESTERN PLUS Amedia Wien,Turkey,No Negative,0,3224,The bed was so comfy I stayed with my boyfrie...,93,1,"[' Leisure trip ', ' Couple ', ' Standard Doub...",171 day,48.192379,16.399451,9.2
386800,29 31 Gower Street Camden London WC1E 6HG Unit...,457,2/7/2016,6.8,Bloomsbury Palace Hotel,Netherlands,room is really small but guess is normal in L...,12,2751,great location simple check in out nice shower,9,21,"[' Business trip ', ' Solo traveler ', ' Singl...",543 day,51.520795,-0.131084,8.3
386801,31 Great Cumberland Place Westminster Borough ...,365,5/21/2017,8.1,The Marble Arch London,United Arab Emirates,No Negative,0,1567,Location and very comfy bed,6,28,"[' Leisure trip ', ' Solo traveler ', ' Deluxe...",74 days,51.515125,-0.160066,9.2
386802,25 Courtfield Gardens Kensington and Chelsea L...,222,8/5/2016,9.0,The Nadler Kensington,Australia,Patio outside could have been cleaned of alga...,20,1209,Beds comfortable Pillows also good Homely fee...,20,2,"[' Leisure trip ', ' Couple ', ' Bunk Bed Room...",363 day,51.493109,-0.190208,8.8

In [11]:
from heapq import nlargest


lat = hotels[hotels['lat'].isnull()]
no_lat = lat['hotel_address'].value_counts().nlargest()

lng = hotels[hotels['lng'].isnull()]
no_lng = lng['hotel_address'].value_counts().nlargest()

In [12]:
display(no_lat)
display(no_lng)

Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria    658
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria            563
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria       389
4 rue de la P pini re 8th arr 75008 Paris France               290
Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria         245
Name: hotel_address, dtype: int64

Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria    658
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria            563
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria       389
4 rue de la P pini re 8th arr 75008 Paris France               290
Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria         245
Name: hotel_address, dtype: int64

In [13]:
nominaltim = Nominatim(user_agent='d3enjan')

location_fr = nominaltim.geocode('France').raw

pprint(location_fr['lat'])
pprint(location_fr['lon'])

'46.603354'
'1.8883335'

In [4]:
nominaltim = Nominatim(user_agent='d3enjan')
location_fr = nominaltim.geocode('France').raw
location_au = nominaltim.geocode('Austria').raw
location_It = nominaltim.geocode('Italy').raw
location_Am = nominaltim.geocode('Amsterdam').raw
location_Sp = nominaltim.geocode('Spain').raw
location_ld = nominaltim.geocode('London').raw

In [5]:
def latlon(h_li):
    # nominaltim = Nominatim(user_agent='d3enjan')
    
    h_li = h_li.split(' ')
    if 'France' in h_li:        
        return location_fr['lat']
    if  'Austria' in h_li:
        return location_au['lat']
    if 'Italy' in h_li:
        return location_It['lat']
    if 'Amsterdam' in h_li:
        return location_Am['lat']
    if 'Spain' in h_li:
        return location_Sp['lat']
    if 'London' in h_li:
        return location_ld['lat']

In [6]:
hotels['lat'] = hotels['hotel_address'].apply(latlon)

In [7]:
hotels['lat']

0         42.6384261
1         52.3727598
2         39.3260685
3         42.6384261
4         52.3727598
             ...
386798    51.5073219
386799      47.59397
386800    51.5073219
386801    51.5073219
386802    51.5073219
Name: lat, Length: 515738, dtype: object

In [8]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515738 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         515738 non-null  object
 15  lng                                         512470 non-null  float64
 16  reviewer_score                              386803 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 70.8+ MB

In [ ]:
# Заполнить последнее значение, провреить модель