### <center> Знакомимся с данными

city, customer, driver, shipment, truck
https://lms.skillfactory.ru/courses/course-v1:SkillFactory+DSPR-2.0+14JULY2021/courseware/aa7f767d15ec41758e7d65753e3ecf42/6e9db0de12c5455baaabc67f856e5a9e/?child=first

In [1]:
# → Укажите название города с максимальным весом единичной доставки.

# select 
#     max(s.weight),
#     c.city_name


# from sql.city c
#     join sql.shipment s on s.city_id = c.city_id
#     group by c.city_name
#     order by 1 desc

#Green Bay

In [ ]:
# → Сколько различных производителей грузовиков перечислено в таблице truck?
# select count(distinct make)

# from sql.truck

In [ ]:
# # → Как зовут водителя (first_name), который совершил наибольшее количество доставок одному клиенту?

# select 
#     d.first_name,
#     count(cu.cust_name) as count_cust
# from  sql.shipment s
#     join sql.driver d on s.driver_id = d.driver_id
#     join sql.customer cu on cu.cust_id = s.cust_id
# group by d.first_name, cu.cust_name

# order by count_cust desc

In [ ]:
# # Укажите даты первой и последней по времени доставок в таблице shipment.
# # Ответ введите в формате ДД.ММ.ГГГГ.

# select 
#     min(s.ship_date),
#     max(s.ship_date)
# from  sql.shipment s

In [ ]:
# Укажите имя клиента, получившего наибольшее количество доставок за 2017 год.

# select 
#     cu.cust_name,
#     count(cu.cust_name)

# from sql.shipment s
#     join sql.customer cu on cu.cust_id = s.cust_id
# where s.ship_date  between '2017-01-01' and '2017-12-31'
#     group by cu.cust_name

#     order by 2 desc

### <center> ВИДЫ UNION

UNION выводит только уникальные записи;
UNION ALL присоединяет все строки последующих таблиц к предыдущим, без ограничений по уникальности.

### <center> СИНТАКСИС

In [ ]:
# SELECT
#          n columns
# FROM 
#          table_1

# UNION ALL

# SELECT 
#          n columns
# FROM 
#          table_2
# ...

# UNION ALL

# SELECT 
#          n columns
# FROM 
#          table_n

Важно! Названия итоговых колонок в выводе будут такие же, как в первом блоке SELECT, даже если они отличаются в других блоках подзапросов.

Вместо результата получим сообщение о синтаксической ошибке: "...syntax error at or near "UNION"..." Очевидно, этот фокус не удался.

Не стоит огорчаться, ведь проблему можно решить одним (ну, почти) движением руки — просто добавив скобки вокруг каждой из частей запроса.

Напишите запрос, который создаёт уникальный алфавитный справочник всех городов, штатов, имён водителей и производителей грузовиков.
Результатом запроса должны быть два столбца: название и тип объекта (city, state, driver, truck).
Отсортируйте список по названию объекта, а затем — по типу.

In [ ]:
# SELECT c.city_name "название", 'city' "тип объекта"
# FROM sql.city c
# UNION
# SELECT c.state, 'state'
# FROM sql.city c
# UNION
# SELECT d.first_name, 'driver'
# FROM sql.driver d
# UNION
# SELECT t.make, 'truck'
# FROM sql.truck t
# ORDER BY 1,2

Напишите запрос, который соберёт имена всех упомянутых городов и штатов с таблицы city.
Результатом запроса должен быть один столбец object_name, отсортированный в алфавитном порядке.

In [ ]:
# SELECT c.city_name object_name
# FROM sql.city c
# UNION ALL(все города и штаты), есил убрать all то будут только уникальные
# SELECT c.state
# FROM sql.city c
# ORDER BY 1

### <center>  UNION и ограничение типов данных

Если мы всё же хотим *соединить столбци с разными типами данных*, придётся привести оба столбца к одному типу данных. Не каждый текст может быть приведён к числу, зато каждое число может быть представлено в текстовом формате.

Важно! Любой тип данных может быть приведён к текстовому формату — эту возможность целесообразно использовать для соединения разнородных сущностей. Главное — помнить, что сортировка текста отличается от сортировки чисел и дат.

Задание 3.1

Напишите запрос, который объединит в себе все почтовые индексы водителей и их телефоны в единый столбец-справочник. Также добавьте столбец с именем водителя и столбец с типом контакта (phone или zip в зависимости от типа). Столбцы к выводу: contact, first_name, contact_type.
Отсортируйте список по столбцу с контактными данными в порядке возрастания, а затем — по имени водителя.

In [ ]:
# SELECT
#     d.zip_code::text contact,
#     d.first_name first_name,
#     'zip' contact_type
# FROM
#     sql.driver d
# UNION
# SELECT
#     dd.phone contact,
#     dd.first_name first_name,
#     'phone' contact_type
# FROM
#     sql.driver dd
# ORDER BY 1,2