##  <center> Соединение таблиц по ключу

### <center> ОБЪЕДИНЯЕМ ТАБЛИЦЫ БЕЗ ОПЕРАТОРОВ

*Чтобы соединить две таблицы между собой, достаточно записать названия таблиц через запятую в разделе from. Что произойдёт в таком случае?*

In [ ]:
# SELECT *
# FROM
#     sql.teams,
#     sql.matches

Давайте исправим это. В таблице teams есть столбец api_id, а таблица matches содержит столбцы home_team_api_id и away_team_api_id — это ключи таблиц, по которым они соединяются.

*Ключ — это поле (столбец) в таблице, которое позволяет однозначно идентифицировать запись (строку).*

Чтобы соединить таблицы и получить данные о домашней команде по каждому матчу, добавим условие
where home_team_api_id = api_id.

In [1]:
# SELECT *
# FROM
#     sql.teams,
#     sql.matches
# WHERE home_team_api_id = api_id

Ключи бывают двух основных типов:

Primary — первичный ключ — служит для идентификации текущей таблицы и, как правило, идёт первым в списке столбцов. Всегда уникален: повторяющихся значений в основной таблице быть не может.
Foreign — внешний ключ — представляет собой ссылку на другую таблицу.

Напишите запрос, который выведет таблицу с результатами матчей, содержащую:

*названия гостевых команд (long_name)*;

количество забитых мячей домашней команды (home_team_goals);

количество забитых мячей гостевой команды (away_team_goals).

In [ ]:
# SELECT 
#     long_name, 
#     home_team_goals,
#     away_team_goals
# FROM
#     sql.teams,
#     sql.matches
# WHERE away_team_api_id = api_id

# <center> Знакомимся с JOIN

JOIN — это оператор SQL, который позволяет соединять таблицы по условию.

In [ ]:
# В качестве примера используем запрос из предыдущего юнита.
# SELECT 
#     long_name,
#     home_team_goals,
#     away_team_goals
# FROM    
#     sql.teams
# JOIN sql.matches on home_team_api_id = api_id

### <center> СИНТАКСИС

In [ ]:
# SELECT
#         столбец1,
# 	столбец2,
# 	...
# FROM
# 	таблица1
# JOIN таблица2 ON условие

С помощью JOIN можно соединить и более двух таблиц.

In [ ]:
# SELECT
#         столбец1,
# 	столбец2,
# 	...
# FROM
# 	таблица1
# JOIN таблица2 ON условие
# JOIN таблица3 ON условие

 К примеру, столбец id есть и в таблице matches, и в таблице teams. Такой запрос не будет обработан.

?
Что же делать в таком случае?

Можно указать, откуда мы хотим запросить данные, записав название таблицы перед столбцом через точку.

In [2]:
# SELECT
#     teams.id
# FROM 
#     sql.teams
# JOIN sql.matches ON home_team_api_id = api_id

Упростить обращение к различным таблицам можно, присвоив им сокращённые названия — алиасы (от англ. alias).

In [3]:
# SELECT
#         столбец1,
# 	столбец2,
# 	...
# FROM
# 	таблица1 AS короткое_название_1
# JOIN таблица2 AS короткое_название_2 ON условие

Важно! Обращаться по такому алиасу придётся также с помощью кавычек.

In [4]:
# SELECT
# 	"таблица1".столбец1,
# 	"table 2".столбец2,
# 	...
# FROM
# 	таблица1 AS "таблица1"
# 	JOIN таблица2 AS "table 2" ON условие

In [ ]:
# Напишите запрос, который выведет два столбца: id матча (match_id) и id домашней команды (team_id), — а затем отсортируйте по id матча в порядке возрастания значений.
# SELECT 
# m.id match_id,
# t.id team_id
# FROM
#     sql.teams t
# join
#     sql.matches m on m.home_team_api_id = api_id
# order by match_id

Давайте с помощью запроса SQL получим таблицу, содержащую:

название домашней команды;

количество забитых домашней командой голов;

количество забитых гостевой командой голов;

название гостевой команды.

In [ ]:
# SELECT
#     h.long_name "домашняя команда",
#     m.home_team_goals "голы домашней команды",
#     m.away_team_goals "голы гостевой команды",
#     a.long_name "гостевая команда" 
# FROM
#     sql.matches m
#     JOIN sql.teams h ON m.home_team_api_id = h.api_id
#     JOIN sql.teams a ON m.away_team_api_id = a.api_id

## <center> Фильтрация и агрегатные функции

### <center>РАБОТА С ОБЪЕДИНЁННЫМИ ТАБЛИЦАМИ

In [5]:
# ринцип построения запроса и порядок операторов такой же, как и с обычной таблицей.

# Вспомним его:

# SELECT... 
# FROM... 
# WHERE... 
# GROUP BY... 
# ORDER BY... 
# LIMIT...

ФИЛЬТРАЦИЯ ДАННЫХ

К соединённым таблицам применимы функции фильтрации данных.

Например, можно вывести id матчей, в которых команда Arsenal была гостевой.

In [6]:
# SELECT 
#     m.id
# FROM
#     sql.teams t
#     JOIN sql.matches m ON m.away_team_api_id = t.api_id
# WHERE long_name = 'Arsenal'

Например, можно оставить только записи, в которых короткое название домашней команды GEN и матчи сезона 2008/2009.

In [ ]:
# SELECT *
# FROM    
#     sql.matches m
#     JOIN sql.teams t on t.api_id = m.home_team_api_id
# WHERE
#     t.short_name = 'GEN'
#     AND m.season = '2008/2009'

Напишите запрос, чтобы вывести id матчей, короткое название домашней команды (home_short), короткое название гостевой команды (away_short) для матчей сезона 2011/2012, в которых участвовала команда с названием Liverpool.
Отсортируйте по id матча в порядке возрастания.

In [ ]:
# SELECT
#     m.id,
#     t.short_name home_short,
#     t1.short_name away_short
# FROM
#     sql.matches m
# JOIN sql.teams t ON m.home_team_api_id = t.api_id
# JOIN sql.teams t1 ON m.away_team_api_id = t1.api_id
# WHERE
#     m.season = '2011/2012'
#     and (t.long_name = 'Liverpool' or t1.long_name = 'Liverpool')
# ORDER BY m.id

*что выводим то и присоединяем*

# <CENTER> АГРЕГАЦИЯ ДАННЫХ

In [7]:
# SELECT
#     t.long_name, /*столбец long_name таблицы t*/
#     SUM(m.home_team_goals) + SUM(m.away_team_goals) match_goals /*функция суммирования; столбец home_team_goals таблицы m; функция суммирования; столбец away_team_goals таблицы m; новое название столбца*/
# FROM
#     sql.matches m /*таблица matches с алиасом m*/
#     JOIN sql.teams t ON m.away_team_api_id = t.api_id /*оператор соединения таблиц; таблица teams с алиасом t; условие: away_team_api_id таблицы m равен api_id таблицы t*/
# GROUP BY t.id /*группировка по столбцу id таблицы t*/

Обратите внимание! В данном запросе была использована группировка по столбцу id таблицы teams, хотя этот столбец не выводится в запросе. Это необходимо для того, чтобы команды с одинаковым названием, если такие найдутся, не группировались между собой. Группировка по названию команды в данном запросе будет неверной, так как есть несколько команд с одинаковым полным названием — мы говорили об этом в начале модуля.

Напишите запрос, с помощью которого можно вывести список полных названий команд, сыгравших в гостях 150 и более матчей.
Отсортируйте список по названию команды.

In [ ]:
# SELECT
#     t.long_name
# FROM
#     sql.matches m
# JOIN sql.teams t ON m.away_team_api_id = t.api_id
# GROUP BY t.id
# HAVING COUNT(*) >= 150
# ORDER BY 1