### <center> Знакомимся с данными

city, customer, driver, shipment, truck
https://lms.skillfactory.ru/courses/course-v1:SkillFactory+DSPR-2.0+14JULY2021/courseware/aa7f767d15ec41758e7d65753e3ecf42/6e9db0de12c5455baaabc67f856e5a9e/?child=first

In [1]:
# → Укажите название города с максимальным весом единичной доставки.

# select 
#     max(s.weight),
#     c.city_name


# from sql.city c
#     join sql.shipment s on s.city_id = c.city_id
#     group by c.city_name
#     order by 1 desc

#Green Bay

In [ ]:
# → Сколько различных производителей грузовиков перечислено в таблице truck?
# select count(distinct make)

# from sql.truck

In [ ]:
# # → Как зовут водителя (first_name), который совершил наибольшее количество доставок одному клиенту?

# select 
#     d.first_name,
#     count(cu.cust_name) as count_cust
# from  sql.shipment s
#     join sql.driver d on s.driver_id = d.driver_id
#     join sql.customer cu on cu.cust_id = s.cust_id
# group by d.first_name, cu.cust_name

# order by count_cust desc

In [ ]:
# # Укажите даты первой и последней по времени доставок в таблице shipment.
# # Ответ введите в формате ДД.ММ.ГГГГ.

# select 
#     min(s.ship_date),
#     max(s.ship_date)
# from  sql.shipment s

In [ ]:
# Укажите имя клиента, получившего наибольшее количество доставок за 2017 год.

# select 
#     cu.cust_name,
#     count(cu.cust_name)

# from sql.shipment s
#     join sql.customer cu on cu.cust_id = s.cust_id
# where s.ship_date  between '2017-01-01' and '2017-12-31'
#     group by cu.cust_name

#     order by 2 desc

### <center> ВИДЫ UNION

UNION выводит только уникальные записи;
UNION ALL присоединяет все строки последующих таблиц к предыдущим, без ограничений по уникальности.

### <center> СИНТАКСИС

In [ ]:
# SELECT
#          n columns
# FROM 
#          table_1

# UNION ALL

# SELECT 
#          n columns
# FROM 
#          table_2
# ...

# UNION ALL

# SELECT 
#          n columns
# FROM 
#          table_n

Важно! Названия итоговых колонок в выводе будут такие же, как в первом блоке SELECT, даже если они отличаются в других блоках подзапросов.

Вместо результата получим сообщение о синтаксической ошибке: "...syntax error at or near "UNION"..." Очевидно, этот фокус не удался.

Не стоит огорчаться, ведь проблему можно решить одним (ну, почти) движением руки — просто добавив скобки вокруг каждой из частей запроса.

Напишите запрос, который создаёт уникальный алфавитный справочник всех городов, штатов, имён водителей и производителей грузовиков.
Результатом запроса должны быть два столбца: название и тип объекта (city, state, driver, truck).
Отсортируйте список по названию объекта, а затем — по типу.

In [ ]:
# SELECT c.city_name "название", 'city' "тип объекта"
# FROM sql.city c
# UNION
# SELECT c.state, 'state'
# FROM sql.city c
# UNION
# SELECT d.first_name, 'driver'
# FROM sql.driver d
# UNION
# SELECT t.make, 'truck'
# FROM sql.truck t
# ORDER BY 1,2

Напишите запрос, который соберёт имена всех упомянутых городов и штатов с таблицы city.
Результатом запроса должен быть один столбец object_name, отсортированный в алфавитном порядке.

In [ ]:
# SELECT c.city_name object_name
# FROM sql.city c
# UNION ALL(все города и штаты), есил убрать all то будут только уникальные
# SELECT c.state
# FROM sql.city c
# ORDER BY 1

### <center>  UNION и ограничение типов данных

Если мы всё же хотим *соединить столбци с разными типами данных*, придётся привести оба столбца к одному типу данных. Не каждый текст может быть приведён к числу, зато каждое число может быть представлено в текстовом формате.

Важно! Любой тип данных может быть приведён к текстовому формату — эту возможность целесообразно использовать для соединения разнородных сущностей. Главное — помнить, что сортировка текста отличается от сортировки чисел и дат.

Задание 3.1

Напишите запрос, который объединит в себе все почтовые индексы водителей и их телефоны в единый столбец-справочник. Также добавьте столбец с именем водителя и столбец с типом контакта (phone или zip в зависимости от типа). Столбцы к выводу: contact, first_name, contact_type.
Отсортируйте список по столбцу с контактными данными в порядке возрастания, а затем — по имени водителя.

In [ ]:
# SELECT
#     d.zip_code::text contact,
#     d.first_name first_name,
#     'zip' contact_type
# FROM
#     sql.driver d
# UNION
# SELECT
#     dd.phone contact,
#     dd.first_name first_name,
#     'phone' contact_type
# FROM
#     sql.driver dd
# ORDER BY 1,2

### <center> ВОЗМОЖНОСТИ UNION

Напишите запрос, который выводит общее число доставок total_shipments, а также количество доставок в каждый день. Необходимые столбцы: date_period, cnt_shipping.
Не забывайте о единой типизации.
Упорядочьте по убыванию столбца date_period.

In [1]:
# SELECT s.ship_date::text date_period, COUNT(*) cnt_shipment
# FROM sql.shipment s 
# GROUP BY 1
# UNION ALL
# SELECT 'total_shipments', COUNT(*)
# FROM sql.shipment s
# ORDER BY 1 desc

Задание 5.1

Напишите запрос, который выведет все города и штаты, в которых они расположены, а также информацию о том, была ли осуществлена доставка в этот город:

если в город была осуществлена доставка, то выводим 'доставка осуществлялась';
если нет — выводим 'доставка не осуществлялась'.
Столбцы к выводу: city_name, state, shipping_status.

Отсортируйте в алфавитном порядке по городу, а затем — по штату.

In [2]:
# SELECT 
#      c.city_name AS city_name,
#      c.state AS state,
#     'доставка осуществлялась' AS shipping_status
# FROM 
#     sql.city c
#     LEFT JOIN sql.shipment s ON c.city_id=s.city_id
# WHERE s.city_id IS NOT NULL
# UNION
# SELECT 
#      c.city_name AS city_name,
#      c.state AS state,
#     'доставка не осуществлялась' AS shipping_status
# FROM 
#     sql.city c
#     LEFT JOIN sql.shipment s ON c.city_id=s.city_id
# WHERE s.city_id IS NULL
# ORDER BY 1, 2

Задание 5.2

Напишите запрос, который выводит два столбца: city_name и shippings_fake. Выведите города, куда совершались доставки.

Пусть первый столбец содержит название города, а второй формируется так:

если в городе было более десяти доставок, вывести количество доставок в этот город как есть;
иначе — вывести количество доставок, увеличенное на пять.
Отсортируйте по убыванию получившегося «нечестного» количества доставок, а затем — по имени в алфавитном порядке.

In [3]:
# SELECT
#     c.city_name AS city_name,
#     COUNT(s.ship_id) shippings_fake
# FROM
#     sql.city c
#     JOIN sql.shipment s ON c.city_id=s.city_id
# GROUP BY
#     c.city_name
# HAVING
#      COUNT(s.ship_id) > 10
# UNION
# SELECT
#     c.city_name AS city_name,
#     COUNT(s.ship_id)+5 shippings_fake
# FROM
#     sql.city c
#     JOIN sql.shipment s ON c.city_id=s.city_id
# GROUP BY
#     c.city_name
# HAVING
#      COUNT(s.ship_id) <= 10
# ORDER BY
#     shippings_fake desc,
#     city_name asc

### <center> UNION и ручная генерация

✍ UNION можно использовать для создания справочников прямо в коде запроса. К примеру, если мы хотим вручную ввести какие-то значения и произвести с ними некоторые манипуляции или дополнить существующую выдачу своими значениями.

Напишите запрос, который выберет наибольшее из значений:

1000000;
541;
-500;
100.

In [4]:
# SELECT  1000000
# UNION ALL
# SELECT  541
# UNION ALL
# SELECT  -500
# UNION ALL
# SELECT  100
# ORDER BY 1 DESC 
# LIMIT 1

В виде текста по другому сортируется

In [5]:
# SELECT  '1000000'
# UNION ALL
# SELECT  '541' 
# UNION ALL
# SELECT  '-500'
# UNION ALL
# SELECT  '100'
# ORDER BY 1 DESC 
# LIMIT 1

### <center> 7. EXCEPT
ИСКЛЮЧАЕМ ПОВТОРЯЮЩИЕСЯ ДАННЫЕ

Мы уже знаем, как решить такую задачу с использованием LEFT JOIN. Вариант с EXCEPT будет полезен в тех случаях, когда у вас много столбцов и вам не хочется прописывать их равенство в условии для JOIN.

Задание 7.1

Выведите список zip-кодов, которые есть в таблице sql.driver, но отсутствуют в таблице sql.customer. Отсортируйте по возрастанию, столбец к выводу — zip.
В поле ниже введите запрос, с помощью которого вы решили эту задачу.

In [6]:
# SELECT zip_code AS zip
# FROM sql.driver
# EXCEPT 
# SELECT zip 
# FROM sql.customer
# ORDER BY 1

### <center> 8. INTERSECT
ВЫБИРАЕМ ОБЩИЕ ДАННЫЕ

Напишите запрос, который выведет список id городов, в которых есть и клиенты, и доставки, и водители.

In [ ]:
# SELECT s.city_id
# FROM sql.shipment s 
# INTERSECT
# SELECT c.city_id
# FROM sql.customer c
# INTERSECT
# SELECT d.city_id
# FROM sql.driver d

Как EXCEPT, так и INTERSECT убирают дубликаты, если они имеются.

Задание 8.2

Выведите zip-код, который есть как в таблице с клиентами, так и в таблице с водителями.

In [ ]:
# SELECT
#     d.zip_code
# FROM 
#     sql.driver d
# INTERSECT
# SELECT
#     c.zip
# FROM 
#     sql.customer c

Задание 9.1

Выведите города с максимальным и минимальным весом единичной доставки.
Столбцы к выводу — city_name, weight.

In [7]:
# (select c.city_name,
#     sh.weight
     
# from sql.shipment sh 
#     join sql.city c on c.city_id = sh.city_id
    
# group by sh.weight,
#      c.city_name
# order by 2 desc
# limit 1) 
# union 
# (select
#     c.city_name,
#     sh.weight
     
# from sql.shipment sh 
#     join sql.city c on c.city_id = sh.city_id
    
# group by sh.weight,
#      c.city_name
# order by 2 
# limit 1)

Задание 9.2

Выведите идентификационные номера клиентов (cust_id), которые совпадают с идентификационными номерами доставок (ship_id).
Столбец к выводу — mutual_id.
Отсортируйте по возрастанию.

In [ ]:
# select 
#     cu.cust_id mutual_id

# from 
#     sql.customer cu 
# intersect
# select
#     sh.ship_id
# from
#     sql.shipment sh
# order by 1

Задание 9.3

Создайте справочник, содержащий уникальные имена клиентов, которые являются производителями (cust_type='manufacturer'), и производителей грузовиков, а также описание объекта — 'КЛИЕНТ' или 'ГРУЗОВИК'.
Столбцы к выводу — object_name, object_description.
Отсортируйте по названию в алфавитном порядке.

In [ ]:
# SELECT cust_name object_name, 'КЛИЕНТ' object_description
# FROM sql.customer
# WHERE cust_type='manufacturer'
# UNION
# SELECT make, 'ГРУЗОВИК'
# FROM sql.truck
# ORDER BY 1