In [ ]:
# SELECT DISTINCT(Выводиту уникальные значения, если два столбца то выведет не одинаковое сочетание строк в столбце)
# Обратите внимание! DISTINCT пишется только один раз, в начале списка получаемых столбцов.
#     столбец1 AS новое_название,
#     столбец2,
#     столбец3
# FROM таблица
# WHERE (условие1 OR условие2)
#     AND условие3
# ORDER BY сортировка1, сортировка2
# OFFSET 1 LIMIT 2

 SELECT 
 
 DISTINCT(Выводиту никальные значения, если два столбца то выведет не одинаковое сочетание строк в столбце)

 *Обратите внимание! DISTINCT пишется только один раз, в начале списка получаемых столбцов.*

 
     столбец1 AS новое_название,
     столбец2,
     столбец3
 FROM таблица

 WHERE (условие1 OR условие2)
     AND условие3

 ORDER BY сортировка1, сортировка2
 
 OFFSET 1 LIMIT 2(С какой строки выводить, и лимт(сколько строк выводить))

# <center>IN

Ещё один полезный оператор для фильтрации строк — IN.

Конструкции с IN имеют следующий вид:

column IN (value1, value2, value3)

# <center> LIKE


Предположим, мы не знаем точно, какое текстовое значение ищем.

В таком случае нам поможет оператор LIKE.

In [ ]:
# SELECT *
# FROM sql.kinopoisk
# WHERE movie_title LIKE 'А%'

Знак процента (%) в примере показывает, что после A встречается ноль и более символов. Вы можете использовать % в любом месте внутри строки.

Например, movie_title LIKE '%а%б%' выведет все фильмы, в названии которых встречается строчная буква а, а где-то после неё — б.

Также в текстовых строках используется знак подчёркивания (_) — он заменяет ровно один любой символ.

### <center> 3. Агрегатные функции

SELECT
    COUNT(*)
FROM sql.pokemon

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос

*Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.*

In [ ]:
# SELECT
#     COUNT(*)
# FROM sql.pokemon

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.

In [ ]:
# SELECT
#     COUNT(DISTINCT type1)
# FROM sql.pokemon

COUNT — вычисляет число непустых строк;

SUM — вычисляет сумму;

AVG — вычисляет среднее;

MAX — вычисляет максимум;

MIN — вычисляет минимум.

Разумеется, вы можете использовать в запросе фильтрацию строк с помощью WHERE, чтобы получить агрегированное значение только для отдельных строк.

In [1]:
# SELECT
#     COUNT(*) AS "всего травяных покемонов",
#     COUNT(type2) AS "покемонов с дополнительным типом",
#     AVG(attack) AS "средняя атака",
#     AVG(defense) AS "средняя защита"
# FROM sql.pokemon
# WHERE type1 = 'Grass'

Напишите запрос, который выведет:

количество покемонов (столбец pokemon_count);

среднюю скорость (столбец avg_speed);

максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp)

для электрических (Electric) покемонов, имеющих дополнительный тип(type2 не пустой) и 
показатели атаки или защиты больше 50.

In [ ]:
# SELECT 
#     count(name) "pokemon_count",
#     avg(speed) "avg_speed",
#     max(hp) "max_hp",
#     min(hp) "min_hp"
# FROM sql.pokemon
# WHERE type1 = 'Electric'
# and type2 is not null 
# and (attack > 50 or defense > 50)

## <center> Группировка

GROUP BY используется для определения групп выходных строк, к которым могут применяться агрегатные функции.

In [ ]:
# SELECT
#     type1 AS pokemon_type,
#     COUNT(*) AS pokemon_count
# FROM sql.pokemon
# GROUP BY type1
# ORDER BY type1

Вывод, конечно же, можно сортировать по столбцу с агрегированием.

In [ ]:
# SELECT
#     type1 AS pokemon_type,
#     COUNT(*) AS pokemon_count
# FROM sql.pokemon
# GROUP BY pokemon_type
# ORDER BY COUNT(*) DESC

GROUP BY можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию DISTINCT.

***Способ вывести уникальные значения. А с помошью count в другом столбце посчитать их.***

In [ ]:
# SELECT
#    type1,
#    count(*)
#  from sql.pokemon
#  group by type1
#  order by 2 desc(сортируем по второму стобцу(лучьше писать его название а не порядковый номер) и по убыванию(desc))

Обратите внимание! Мы использовали в группировке не название столбца, а его алиас.

*Задание 4.1*
Напишите запрос, который выведет:

число различных дополнительных типов (столбец additional_types_count);

среднее число очков здоровья (столбец avg_hp);

сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).(В разбивке значит group)
Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке.

Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

In [3]:
# SELECT
#    type1 primary_type,
#    count(DISTINCT type2) additional_types_count,
#    AVG(hp) avg_hp,
#    SUM(attack) attack_sum
# FROM sql.pokemon
# GROUP BY primary_type
# ORDER BY 2 DESC, 1

Мы можем осуществлять группировку по нескольким столбцам.

In [ ]:
# SELECT
#     type1 AS primary_type,
#     type2 AS additional_type,
#     COUNT(*) AS pokemon_count
# FROM sql.pokemon
# GROUP BY 1, 2
# ORDER BY 1, 2 NULLS FIRST

## <center> Фильтрация агрегированных строк

✍ Если ключевое слово WHERE определяет фильтрацию строк до агрегирования, то для фильтрации уже агрегированных данных применяется ключевое слово HAVING.

*Важно! HAVING обязательно пишется после GROUP BY.*

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

In [ ]:
# SELECT
#     type1 AS primary_type,
#     AVG(attack) AS avg_attack
# FROM sql.pokemon
# GROUP BY primary_type 
# HAVING AVG(attack) > 90

В HAVING вы можете использовать все те же условия, что и в WHERE.

### <center>  ВМЕСТО РЕЗЮМЕ

In [ ]:
# SELECT [ALL | DISTINCT] список_столбцов|*
# FROM список_имён_таблиц
# [WHERE условие_поиска]
# [GROUP BY список_имён_столбцов]
# [HAVING условие_поиска]
# [ORDER BY имя_столбца [ASC | DESC],…]

Обратите внимание! В квадратных скобках указаны необязательные предложения: они могут отсутствовать в операторе SELECT.

# <center> 6. Итоги

In [5]:
# SELECT
#     столбец1 AS новое_название,
#     столбец2,
#     АГРЕГАТ(столбец3)
# FROM таблица
# WHERE (условие1 OR условие2)
#     AND условие3
# GROUP BY столбец1, столбец2
# HAVING АГРЕГАТ(столбец3) > 5
# ORDER BY сортировка1, сортировка2
# OFFSET 1 LIMIT 2

Сколько различных значений показателей атаки есть у покемонов с типом Water (основным или дополнительным)?

In [ ]:
# SELECT
#     count(distinct attack)
# FROM sql.pokemon
# WHERE type1 ='Water' 
# or type2 = 'Water'

Задание 6.2
Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).
Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.

In [ ]:
# SELECT
#     type1,
#     type2,
#     avg(hp) avg_hp,
#     avg(attack) avg_attack,
#     avg(defense) avg_defense,
#     avg(speed) avg_speed
# FROM sql.pokemon

# group by type1, type2
# having (avg(hp) + avg(attack) + avg(defense) + avg(speed)) > 400