### 5. Объединение DataFrame: знакомимся с новыми данными

In [9]:
import pandas as pd

ratings1 = pd.read_csv('data/ratings1.csv')
ratings2 = pd.read_csv('data/ratings2.csv')
dates = pd.read_csv('data/dates.csv')
movies = pd.read_csv('data/movies.csv')

In [16]:
ratings1

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
39996     274     5582     2.5
39997     274     5585     3.5
39998     274     5588     3.5
39999     274     5618     4.0
40000     274     5621     2.0

[40001 rows x 3 columns]

In [42]:
ratings2

       userId  movieId  rating
0         274     5621     2.0
1         274     5630     3.0
2         274     5667     3.5
3         274     5679     3.5
4         274     5690     3.0
...       ...      ...     ...
60831     610   166534     4.0
60832     610   168248     5.0
60833     610   168250     5.0
60834     610   168252     5.0
60835     610   170875     3.0

[60836 rows x 3 columns]

In [43]:
# Преобразуем в datatime
dates['date'] = pd.to_datetime(dates['date'], dayfirst=True)

In [10]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [17]:
# Подсечет уникальных значений userId:
len(ratings1['userId'].unique())

274

In [53]:
# В какой году было выствлено бульше всего оценок(самое частво встречающаеся значение года)
years_sold = dates['date'].dt.year
years_sold.mode()

0    2000
Name: date, dtype: int64