In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv('data/train_data.csv')
train_data.head()

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price
0,0,TOYOTA,Aqua s,Sedan,133000,2014,Automatic,4/5,Right-hand drive,Silver,Black,NaN,0,For Sale,3650.0
1,1,MERCEDES-BENZ,C 220,Sedan,24500,2010,Manual,4/5,Left wheel,Silver,Black,NaN,0,For Sale,6800.0
2,2,HYUNDAI,Veloster,Hatchback,31000,2016,Tiptronic,2/3,Left wheel,Silver,Black,KMHTC6AE3GU293912,1,For Sale,6300.0
3,3,HYUNDAI,Santa FE,Jeep,115459,2015,Automatic,4/5,Left wheel,Blue,Black,NaN,1,For Sale,14488.0
4,4,TOYOTA,CHR,Jeep,18950,2019,Automatic,4/5,Left wheel,Black,NaN,JTNKHMBX7K1030253,1,For Sale,5000.0

In [3]:
train_data['car_vin'] = train_data['car_vin'].apply(lambda x: 0 if x == np.nan else 1)

In [7]:
train_data['current_mileage'].describe()

count    3.500000e+04
mean     1.969224e+06
std      5.682401e+07
min      0.000000e+00
25%      7.145400e+04
50%      1.290000e+05
75%      1.900000e+05
max      2.147484e+09
Name: current_mileage, dtype: float64

In [8]:
def current(mileage):
    if mileage > 1000000:
        return train_data['current_mileage'].mean()
    else:
        return mileage
    
train_data['current_mileage'] = train_data['current_mileage'].apply(current)

In [ ]:
../input/sf-dst-predict-car-price/sample_submission.csv

In [9]:
train_data['current_mileage'].max()

1969223.6746285714

In [22]:
train_data['current_mileage'].mean()

1969223.6746285714

In [4]:
RANDOM_STATE = 42
TEST_SIZE = 0.2

In [5]:
tr_data, te_data = train_test_split(
    train_data, 
    test_size=TEST_SIZE, 
    random_state=RANDOM_STATE
)

print(f'Data splitted. Parts sizes: tr_data = {tr_data.shape}, te_data = {te_data.shape}')

tr_data.head()

Data splitted. Parts sizes: tr_data = (28000, 15), te_data = (7000, 15)

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price
18788,18788,HYUNDAI,Santa FE,Jeep,177719,2010,Automatic,4/5,Left wheel,Silver,Black,1,1,For Sale,7464.0
776,776,HYUNDAI,Santa FE,Jeep,143166,2011,Automatic,4/5,Left wheel,Grey,Black,1,1,For Sale,5959.0
480,480,BMW,X5 XDRIVE35 D,Jeep,149000,2015,Tiptronic,4/5,Left wheel,Black,Black,1,1,For Sale,23900.0
30078,30078,CHRYSLER,300,Sedan,133904,2014,Automatic,4/5,Left wheel,Silver,Black,1,1,For Sale,1750.0
29115,29115,TOYOTA,4Runner,Jeep,0,2018,Automatic,4/5,Left wheel,Black,Black,1,1,For Sale,100.0

In [6]:
te_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 17813 to 20318
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_ID                  7000 non-null   int64
 1   vehicle_manufacturer    7000 non-null   object
 2   vehicle_model           6999 non-null   object
 3   vehicle_category        7000 non-null   object
 4   current_mileage         7000 non-null   int64
 5   vehicle_year            7000 non-null   int64
 6   vehicle_gearbox_type    7000 non-null   object
 7   doors_cnt               6840 non-null   object
 8   wheels                  7000 non-null   object
 9   vehicle_color           6921 non-null   object
 10  vehicle_interior_color  5643 non-null   object
 11  car_vin                 7000 non-null   int64
 12  car_leather_interior    7000 non-null   int64
 13  deal_type               7000 non-null   object
 14  final_price             7000 non-null   float64
dtypes: float64(1), int64(5), object(9)
memory usage: 875.0+ KB

In [7]:
tr_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28000 entries, 18788 to 15795
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_ID                  28000 non-null  int64
 1   vehicle_manufacturer    27999 non-null  object
 2   vehicle_model           27994 non-null  object
 3   vehicle_category        27999 non-null  object
 4   current_mileage         28000 non-null  int64
 5   vehicle_year            28000 non-null  int64
 6   vehicle_gearbox_type    27999 non-null  object
 7   doors_cnt               27415 non-null  object
 8   wheels                  27999 non-null  object
 9   vehicle_color           27678 non-null  object
 10  vehicle_interior_color  22639 non-null  object
 11  car_vin                 28000 non-null  int64
 12  car_leather_interior    28000 non-null  int64
 13  deal_type               28000 non-null  object
 14  final_price             28000 non-null  float64
dtypes: float64(1), int64(5), object(9)
memory usage: 3.4+ MB