In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
diabetes = pd.read_csv('data/diabetes_data.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,98,58,33,190,34.0,0.430,43,0,Female
1,2,112,75,32,0,35.7,0.148,21,0,Female
2,2,108,64,0,0,30.8,0.158,21,0,Female
3,8,107,80,0,0,24.6,0.856,34,0,Female
4,7,136,90,0,0,29.9,0.210,50,0,Female

In [3]:
diabetes.shape[0]

778

### <center> Задание 8.1
###  Найдите все повторяющиеся строки в данных и удалите их. Для поиска используйте все признаки в данных. Сколько записей осталось в данных?

In [4]:
duplicates = diabetes[diabetes.duplicated()] # Ищем все повторяющиеся строки
print(f'Число дубликатов : {duplicates.shape[0]}')

Число дубликатов : 10

In [5]:
diabetes = diabetes.drop_duplicates() # Удаляем дубликаты
print(f'Число строк без дубликатов: {diabetes.shape[0]}')

Число строк без дубликатов: 768

### <center> Задание 8.2
### Далее найдите все неинформативные признаки в данных и избавьтесь от них. В качестве порога информативности возьмите 0.99: удалите все признаки, для которых 99 % значений повторяются или 99 % записей уникальны. В ответ запишите имена признаков, которые вы нашли (без кавычек).

In [6]:
# #список неинформативных признаков
low_information_cols = [] 

# #цикл по всем столбцам
for col in diabetes.columns:
    top_freq = diabetes[col].value_counts(normalize=True).max()
    #доля уникальных значений от размера признака
    nunique_ratio = diabetes[col].nunique() / diabetes[col].count()
    # сравниваем наибольшую частоту с порогом
    if top_freq > 0.99:
        low_information_cols.append(col)
        print(f'{col}: {round(top_freq*100, 2)}% одинаковых значений')
    # сравниваем долю уникальных значений с порогом
    if nunique_ratio > 0.99:
        low_information_cols.append(col)
        print(f'{col}: {round(nunique_ratio*100, 2)}% уникальных значений')

Gender: 100.0% одинаковых значений

In [7]:
information_diabetes = diabetes.drop(low_information_cols, axis=1)
print(f'Результирующее число признаков: {information_diabetes.shape[1]}')

Результирующее число признаков: 9

In [8]:
information_diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0
...,...,...,...,...,...,...,...,...,...
763,5,139,64,35,140,28.6,0.411,26,0
764,1,96,122,0,0,22.4,0.207,27,0
765,10,101,86,37,0,45.6,1.136,38,1
766,0,141,0,0,0,42.4,0.205,29,1
767,0,125,96,0,0,22.5,0.262,21,0

### <center> Задание 8.3

In [9]:
# Попробуйте найти пропуски в данных с помощью метода insull().

# Спойлер: ничего не найдёте. А они есть! Просто они скрыты от наших глаз. 
# В таблице пропуски в столбцах Glucose, BloodPressure, SkinThickness, Insulin и BMI обозначены нулём, 
# поэтому традиционные методы поиска пропусков ничего вам не покажут. Давайте это исправим!
display(information_diabetes.isnull().tail())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [10]:
diabet_col_lost=['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
for col in diabet_col_lost:
    information_diabetes[col]=information_diabetes[col].apply(lambda x: np.nan if x==0 else x) # В цикле заменяем  если есть значени 0, на значение np.NaN
                                                      #  Добавить х(что то), долбавить np.nan если х равен 0, ничего не менять в другмо случае( то есть вернуть то же самое знгачение)
#########    information_diabetes.replace(0, np.nan, inplace=True)

In [11]:
cols_null_percent = information_diabetes.isnull().mean() 
col_with_null = cols_null_percent[cols_null_percent>0].sort_values(ascending=False)
display(col_with_null   )

Insulin          0.486979
SkinThickness    0.295573
BloodPressure    0.045573
BMI              0.014323
Glucose          0.006510
dtype: float64

### <center> Задание 8.4

In [12]:
# Удалите из данных признаки, где число пропусков составляет более 30 %. 
# Сколько признаков осталось в ваших данных (с учетом удаленных неинформативных признаков в задании 8.2)?
del information_diabetes['Insulin']

In [13]:
information_diabetes.shape

(768, 8)

## <center> Задание 8.5

In [14]:
# Удалите из данных только те строки, в которых содержится более двух пропусков одновременно. 
# Чему равно результирующее число записей в таблице?
m = information_diabetes.shape[1] # Количество из которого вычитаем допустимость значения пропусков
information_diabetes=information_diabetes.dropna(how='any', thresh=m-2, axis=0)
print(information_diabetes.shape)

(761, 8)

### <center> Задание 8.6

In [15]:
# В оставшихся записях замените пропуски на медиану. Чему равно среднее значение в столбце SkinThickness? Ответ округлите до десятых.
null_data = information_diabetes.isnull().sum()
cols = null_data[null_data>0].index
for col in cols:
    information_diabetes[col] = information_diabetes[col].fillna(information_diabetes[col].median())
print(information_diabetes['SkinThickness'].mean().round(1))

29.1

C:\Users\d3en\AppData\Local\Temp\ipykernel_8356\3244283765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  information_diabetes[col] = information_diabetes[col].fillna(information_diabetes[col].median())
C:\Users\d3en\AppData\Local\Temp\ipykernel_8356\3244283765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  information_diabetes[col] = information_diabetes[col].fillna(information_diabetes[col].median())
C:\Users\d3en\AppData\Local\Temp\ipykernel_8356\3244283765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  information_diabetes[col] = information_diabetes[col].fillna(information_diabetes[col].median())
C:\Users\d3en\AppData\Local\Temp\ipykernel_8356\3244283765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  information_diabetes[col] = information_diabetes[col].fillna(information_diabetes[col].median())

### <center>  Задание 8.7

In [16]:
# Сколько выбросов найдёт классический метод межквартильного размаха в признаке SkinThickness?
def outliers_iqr_mod(data, feature, left=1.5, right=1.5, log_scale=False):
    if log_scale:
        x = np.log(data[feature])
    else:
        x= data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)
    outliers = data[(x<lower_bound) | (x > upper_bound)]
    cleaned = data[(x>lower_bound) & (x < upper_bound)]
    return outliers, cleaned
outliers, _ = outliers_iqr_mod(information_diabetes, 'SkinThickness')
print(outliers.shape[0])

87

### <center> Задание 8.8

In [17]:
# Сколько выбросов найдёт классический метод z-отклонения в признаке SkinThickness?
def outliers_z_score(data, feature, log_scale=False):
    if log_scale:
        x = np.log(data[feature]+1)
    else:
        x = data[feature]
    mu = x.mean()
    sigma = x.std()
    lower_bound = mu - 3 * sigma
    upper_bound = mu + 3 * sigma
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x > lower_bound) & (x < upper_bound)]
    return outliers, cleaned

# Применим эту функцию к таблице sber_data и признаку mkad_km, а также выведем размерности результатов:

outliers, cleaned = outliers_z_score(information_diabetes, 'SkinThickness')
print(f'Число выбросов по методу z-отклонения: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу z-отклонения: 4
Результирующее число записей: 757

### <center> Задание 8.9

In [18]:
# На приведённой гистограмме показано распределение признака DiabetesPedigreeFunction. 
# Такой вид распределения очень похож на логнормальный, и он заставляет задуматься о логарифмировании признака. 
# Найдите сначала число выбросов в признаке DiabetesPedigreeFunction с помощью классического метода межквартильного размаха.

def outliers_iqr_mod(data, feature, left=1.5, right=1.5, log_scale=False):
    if log_scale:
        x = np.log(data[feature])
    else:
        x= data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)
    outliers = data[(x<lower_bound) | (x > upper_bound)]
    cleaned = data[(x>lower_bound) & (x < upper_bound)]
    return outliers, cleaned
outliers, _ = outliers_iqr_mod(information_diabetes, 'DiabetesPedigreeFunction')
outliers_log, _ = outliers_iqr_mod(information_diabetes, 'DiabetesPedigreeFunction', log_scale=True)
print(outliers.shape[0] - outliers_log.shape[0])

29